<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvido Contraseña</title>
    <link rel="stylesheet" href="../styles.css/olvido.css">
</head>
<body>
    <header><a href="/index.html"><img src="../img/icons8-casa-30 (1).png" alt="botonhome"></a></header>
    <div id="loginBox">
        <h1>Recuperar contraseña: </h1>
        <h3>Si se le olvido su contraseña puede mandar un correo a esta direccion y nuestros asesores le ayudaran.</h3>
        <h3>Contacto.LooP@gmail.com</h3>
    </div>
</body>
</html>