<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../styles.css/crearCuenta.css">
</head>
<body>
    <header><a href="/Loop/index.html"><img src="../img/icons8-casa-30 (1).png" alt="botonhome"></a></header>
    <div id="loginBox">
        <h1>Crea tu cuenta de LooP</h1>
        <br>
        <label for="usuario" class="datos">Correo electronico: </label>
        <br>
        <input type="email" name="usuario" id="usuario" placeholder="Correo">
        <br>
        <br>
        <label for="usuario" class="datos">Crea tu contraseña: </label>
        <br>
        <input type="password" name="contraseña" id= "clave1" placeholder="Contraseña">
        <br>
        <br>
        <input type="submit" name="submit" id="submit" value="Crear cuenta: ">
        <br>
        </form>
        <br>
        <a href="../index.html">¿Ya tienes una cuenta?</a>
        <br>
        <br>
        <br>
    </div>
 <script src="../scripts/creacion.js"></script>
</body>
</html>