<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=Inter:wght@300&family=Lato:ital,wght@0,900;1,700;1,900&family=Oswald:wght@300;400&family=Rampart+One&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title> Quienes somos</title>
</head>
<body>
    <header class="header1">
        <a href="/index.html"><img class="home" src="./img/icons8-casa-30 (1).png"></a>
        <img class="logo" src="./img/logo-loop.png">
        <h1>SOBRE NOSOTROS</h1>
    </header>
    <main class="contenedor">
        <div>
            <div>
                <p class="par1">En loop buscamos posicionarnos como unas de las mejorers tiendas vituales al momento de adquirir videojuegos tanto nacional como internacionalmente. Por esto mismo le ofrecemos a nuestros usuarios gran variedad de juegos y membresias.</p>
                <p class="par2">Los videojuegos van más allá del entretenimiento, ¡y es un privilegio ayudar a darle forma! Estamos construyendo un marketplace seguro, asequible y sostenible para todos los jugadores de hoy y mañana.</p>
                </div>
                <div class="contenedor2">
                <img class="img1" src="./img/imagen_quien_somos.jpg" alt="img1">
                    <button onclick="" type="button" class="btn"><a class="btn" href="./views/index2.html">Trabaja con nosotros</a></button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>