<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://kit.fontawesome.com/6843eabb09.js" crossorigin="anonymous"></script>
    <title>Pagina de compra y venta</title>
</head>
<body>
    <header>
        <h1 id="titulo">Compra de videojuegos</h1>
        <h2>MINECRAFT BEDROCK EDITION</h2>
    </header>
    <div>
        <img class="game" src="../assets/minecraft.jpg" alt="juego">
    </div>
    <h3>Descripción:</h3>
    <p>es una combinación entre ir creando minas y picando en ellas para conseguir los elementos necesarios para mejorar tu equipo y posibilidades. El modo creativo es radicalmente diferente, si bien la base del juego sigue siendo la misma.
         </p> <br>
    <h3>Modos de juego:</h3>
    <p>Single Player</p>
    <p>Multijugador en linea</p><br>
    <h3>Calificación: </h3>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <h3>Opiniones: </h3>
    <p>
        Bedrock Edition también es la versión más potente si hablamos de gráficos. De hecho, es compatible con Ray Tracing en su versión para PC, solamente jugable a través de Windows 10 y Windows 11. Eso sí, y esto es totalmente clave a la hora de hablar de esta versión: NO es compatible con mods.
     </p><br>
    <h3>Recomendaciones y especificaciones: </h3>
    <p> se encuentra en formato virtual para pc y android     
    </p><br>
    <h3 id="precio">Precio: 100.000 (COP)</h3>
    <button type="button" id="compra" onclick="location.href='/LOOP/views/Catalogo/Proyecto (Compra de videojuegos)/FormularioCompra/index.html'">Compra</button>
    <button type="button" id="reclamo" onclick="location.href='./reclamo.html'">Reclamo</button>
    <br><br>
</body>
</html>