<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://kit.fontawesome.com/6843eabb09.js" crossorigin="anonymous"></script>
    <title>Pagina de compra y venta</title>
</head>
<body>
    <header>
        <h1 id="titulo">Compra de videojuegos</h1>
        <h2>FULL GUYS: ULTIMATE KNOCKOUT</h2>
    </header>
    <div>
        <img class="game" src="../assets/fall_guys.jpg" alt="juego">
    </div>
    <h3>Descripción:</h3>
    <p>Fall Guys: Ultimate Knockout es un plataformas multijugador masivo tipo party con hasta 60 jugadores online a cargo de Mediatonic y Devolver Digital para PC, PlayStation 4, Xbox One y Switch, en un enfrentamiento todos contra todos que se desarrolla ronda tras ronda entre un caos creciente hasta que solo queda un único vencedor. Desmadre masivo online: sumérgete en una serie de ridículos desafíos y delirantes circuitos de obstáculos con montones de competidores online, todos con la esperanza de superar el corte y avanzar a la siguiente ronda de caos.
        </p> <br>
    <h3>Modos de juego:</h3>
    <p>Multijugador en linea</p><br>
    <h3>Calificación: </h3>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <h3>Opiniones: </h3>
    <p>
        Ya sea para jugar una partida de vez en cuando con el fin de divertirse o para dedicarse en serio y sacar todas las recompensas del 'Pase de Temporada', Fall Guys: Ultimate Knockout es una gozada. Es fácil de jugar, tiene un tono muy gracioso y puede resultar bastante competitivo.
    </p><br>
    <h3>Recomendaciones y especificaciones: </h3>
    <p>  Sistema operativoWindows 10 de 64 bits.
        ProcesadorIntel Core i5 o equivalente de AMD.
        Memoria8 GB de RAM.
        Almacenamiento2 GB de espacio disponible.
        Tarjeta gráficaNVIDIA GTX 660 o AMD Radeon HD 7950.    
    </p><br>
    <h3 id="precio">GRATIS</h3>
    <button type="button" id="compra" onclick="location.href='/LOOP/views/Catalogo/Proyecto (Compra de videojuegos)/FormularioCompra/index.html'">Compra</button>
    <button type="button" id="reclamo" onclick="location.href='./reclamo.html'">Reclamo</button>
    <br><br>
</body>
</html>