<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://kit.fontawesome.com/6843eabb09.js" crossorigin="anonymous"></script>
    <title>Pagina de compra y venta</title>
</head>
<body>
    <header>
        <h1 id="titulo">Compra de videojuegos</h1>
        <h2>GOD OF WAR 4</h2>
    </header>
    <div>
        <img class="game" src="../assets/gow.jpg" alt="juego">
    </div>
    <h3>Descripción:</h3>
    <p> God of War es la vuelta de Kratos a los videojuegos tras la trilogía original. Esta nueva entrega para PlayStation 4, si bien mantendrá varios de los ingredientes indivisibles de su jugabilidad, apostará por un nuevo comienzo para el personaje y una ambientación nórdica, ofreciéndonos una perspectiva más madura y realista de la mitología de dioses y monstruos milenarios habitual en la serie de títulos. </p> <br>
    <h3>Modos de juego:</h3>
    <p>Single Player</p>
    <br>
    <h3>Calificación: </h3>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <h3>Opiniones: </h3>
    <p>
    Esta reinvención de God of War es simplemente un triunfo en dirección y diseño. Una jugabilidad completamente reconstruida se suma a una narrativa eficiente y elaborada. El resultado es fantástico. Un mayor énfasis en mecánicas de exploración podría beneficiar al título, sin embargo, su estado actual se expande sobre la fórmula original en todo sentido. 
     </p><br>
    <h3>Recomendaciones y especificaciones: </h3>
    <p>El juego se encuentra en formato virtual para PS4 y PC      
    </p><br>
    <h3 id="precio">Precio: 159.000 (COP)</h3>
    <button type="button" id="compra" onclick="location.href='/LOOP/views/Catalogo/Proyecto (Compra de videojuegos)/FormularioCompra/index.html'">Compra</button>
    <button type="button" id="reclamo" onclick="location.href='./reclamo.html'">Reclamo</button>
    <br><br>
</body>
</html>