<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://kit.fontawesome.com/6843eabb09.js" crossorigin="anonymous"></script>
    <title>Pagina de compra y venta</title>
</head>
<body>
    <header>
        <h1 id="titulo">Compra de videojuegos</h1>
        <h2>GRAND THEF AUTO V</h2>
    </header>
    <div>
        <img class="game" src="../assets/gta5.jpg" alt="juego">
    </div>
    <h3>Descripción:</h3>
    <p>GTA V (Grand Theft Auto V) para PS4, PS3, Xbox One, Xbox 360 y PC es la quinta entrega numerada de la saga superventas de Rockstar Games. Se trata de una aventura de acción de mundo abierto con multitud de misiones en la que encarnamos a tres personajes distintos: Trevor, Michael y Franklin. Además, cuenta con GTA Online, el modo multijugador en lína de GTA 5.
    </p> <br>
    <h3>Modos de juego:</h3>
    <p>Single Player</p>
    <p>Multijugador en linea</p><br>
    <h3>Calificación: </h3>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <h3>Opiniones: </h3>
    <p>
        El juego es espectacular, el mapeado es inmenso, repleto de detalles y con una gran historia y jugabilidad.
        Nunca faltan cosas por hacer en Los Santos.
    </p><br>
    <h3>Recomendaciones y especificaciones: </h3>
    <p>El juego se encuentra en formato físico (disco) para las consolas PS4,XBOX ONE   
    </p><br>
    <h3 id="precio">Precio: 92.000 (COP)</h3>
    <button type="button" id="compra" onclick="location.href='/LOOP/views/Catalogo/Proyecto (Compra de videojuegos)/FormularioCompra/index.html'">Compra</button>
    <button type="button" id="reclamo" onclick="location.href='./reclamo.html'">Reclamo</button>
    <br><br>
</body>
</html>