<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css/iniSesion.css">
    <title>Loop</title>
</head>
<body>
    <header><a href="/index.html"><img src="./img/" alt="botonhome"></a></header>
    <div id="loginBox">
        <h1>Inicio de sesión</h1>
        <br>
        <label for="usuario" class="datos">Usuario: </label>
        <br>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario">
        <br>
        <br>
        <label for="usuario" class="datos">Contraseña: </label>
        <br>
        <input type="password" name="contraseña" id="clave" placeholder="Contraseña">
        <br>
        <br>
        <input type="submit" name="submit" id="submit" value="Iniciar sesión">
        </form>
        <br>
        <br>
        <a href="./views/index2.html">¿No tienes una cuenta?</a>
        <br>
        <br>
        <a href="./views/index3.html">Se me olvido la contraseña</a>
    </div>
    <script src="./scripts/inicio.js"></script>
</body>
</html>