<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/estilos.css">
    <title>Loop catalogo</title>
</head>
<header>
    <a href="/index.html"><img src="/views/registro-ingreso/img/icons8-casa-30 (1).png" alt="home" id="botonhome"></a>
    <img src="../Catalogo/img/logo-loop.png" alt="home" id="botonloop">
    <h1>Catalogo</h1>
</header>
<body>
    <div class="contenido">
        <a href="./Proyecto (Compra de videojuegos)/PaginaCompra/views/index1.html">
            <div class="tarjeta fifa">
                <img src="./img/fifa.jpg">
            </div>
            <div class="info">
                <h1>FIFA 22</h1>
            </div>
        </a>
    </div>

    <div class="contenido">
        <a href="./Proyecto (Compra de videojuegos)/PaginaCompra/views/index2.html">
            <div class="tarjeta fall_guys">
                <img src="./img/fall.jpeg">
            </div>
            <div class="info">
                <h1>FALL GUYS</h1>
            </div>
        </a>
    </div>

    <div class="contenido">
        <a href="./Proyecto (Compra de videojuegos)/PaginaCompra/views/index3.html">
            <div class="tarjeta gta5">
                <img src="./img/gta5.jpg">
            </div>
            <div class="info">
                <h1>Grand Thef Auto V</h1>
            </div>
        </a>
    </div>
    
    <div class="contenido">
        <a href="./Proyecto (Compra de videojuegos)/PaginaCompra/index.html">
            <div class="tarjeta ctr">
                <img src="./img/Doom.jpg">
            </div>
            <div class="info">
                <h1>DOOM</h1>
            </div>
        </a>
    </div>

    <div class="contenido">
        <a href="./Proyecto (Compra de videojuegos)/PaginaCompra/views/index4.html">
            <div class="tarjeta gow">
                <img src="./img/god of war.jpg">
            </div>
            <div class="info">
                <h1>GOD OF WAR</h1>
            </div>
        </a>
    </div>

    <div class="contenido">
        <a href="./Proyecto (Compra de videojuegos)/PaginaCompra/views/index5.html">
            <div class="tarjeta mortal_kombat">
                <img src="./img/mortal_kombat.jpg">
            </div>
            <div class="info">
                <h1>MORTAL KOMBAT 11</h1>          
            </div>
        </a>
    </div>

    <div class="contenido">
        <a href="./Proyecto (Compra de videojuegos)/PaginaCompra/views/index6.html">
            <div class="tarjeta spider-man">
                <img src="./img/spider-man.jpg">
            </div>
            <div class="info">
                <h1>MARVEL SPIDERMAN</h1>
            </div>
        </a>
    </div>

    <div class="contenido">
        <a href="./Proyecto (Compra de videojuegos)/PaginaCompra/views/index7.html">
            <div class="tarjeta minecraft">
                <img src="./img/minecraft.jpg">
            </div>
            <div class="info">
                <h1>MINECRAFT</h1>
            </div>
        </a>
    </div>
</body>
</html>